<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="\src\style.css">
    <title>QR-Generator</title>

</head>
<body>
    <header>
        <h1 class="vt323-bold">QR Generator</h1>
    </header>
    <div class="contents">
        <div class="left">
            <form action="/generate" method="post">
                <label for="url" class="vt323-regular">Paste the link below...</label>
                <br>
                <input type="text" name="url">
                <input type="submit" class="vt323-regular"> 
            </form>
        </div>
        <div class="right">
            <img src="/image/my_qr.png" onerror="this.onerror=null; this.src='/image/fallbackimage.png';"  alt="QR Goes here" id="qr-img">
        </div>
    </div>
    
</body>
</html>